.intro_statement,h1 {
    color: white;
}

#hero_image_1{
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    opacity: 20%;
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
    grid-row: auto;
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: #6494c1;
    

}

