html {
    scroll-behavior: smooth;
  }
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:23%;
    padding:1%;
}
nav{
    display:flex;
    width: 73%;
    padding: 1%;
}
ul{
    width: 50%;
    margin-left: auto;
}
img{
    text-align: center;
}
.home{
    height: 600px;
    padding:25px;
    background-image: url("../images/hero_image.png") ;
    background-size:1330px ;
    background-repeat: no-repeat;
    background-position: center;   
}

.aboutMe{
    height: 600px;
    padding:25px;
    background-image: url("../images/About_me_background.jpg");
    background-repeat: no-repeat;
    background-size: 1330px ;
    background-position: center;
    font-size: 40px;
    text-align: center;
    
}

.content{
    width: 500px;
    margin: 0 auto;
}
.mySkills{
    background-image: url("../images/skills_background.jpg");
}
footer{
    background-color: #6494c1;
    

}

ul{ 
    display: inline-block;
    vertical-align: top;

}
li{
    padding-inline-start: 0%;
    list-style: none;
    display: inline-block;
    margin: 20px;
}

img{
    max-width: 100%;
    height:auto;
}

body{
    background-color: #132C43;
}

p, h1, h3, li{
    color: white;
}

.workGrid{
    display: grid;
}

.workgrid{
    grid-area:myArea;
}
.grid-Container{
    display:grid;
    grid-template-areas: 'myArea myArea myArea myArea';
}

